/**
 * http://keystation.cosmostation.io/
 * Since : 2019.08.22
 * Author : Lee Song-hyeon
 * Updated :2019.08.22
 */

/* web fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto&display=swap');

/* Custom
   ========================================================================== */

html {
   height: 100%;
}

body {
   min-width: 320px;
   height: 100%;
   line-height: 1.4;
   font-size: 14px;
   font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #151314;
   color: #fff;
}

.not-scroll {
   overflow: hidden;
}

p {
   word-break: keep-all;
}

textarea {
   outline: none;
   border: 1px solid transparent;
   resize: none;
}

/* float 해제 */
.clear:after {
   content: "";
   display: block;
   clear: both;
}

/* 긴 글 생략 */
.ellipsis {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

/* 팝업 백그라운드 */
.over-win {
   visibility: hidden;
   z-index: 1000;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
}

.over-win.open {
   visibility: visible;
}

/* word break */
.word-break-all {
   word-break: break-all;
}


/* go
 ========================================================================== */
#app {
   position: relative;
   display: flex;
   justify-content: space-between;
   height: 100vh;
   color: #adadad;
}

#app:before {
   content: "";
   display: block;
   position: absolute;
   top: 50px;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: rgba(255, 255, 255, 0.15);
}

#app:after {
   content: "";
   display: block;
   position: absolute;
   right: 0px;
   bottom: 0px;
   width: 40%;
   height: 77%;
   opacity: 0.15;
   background: url(../img/cosmos_img.svg) no-repeat;
   background-size: cover;
   background-position: 40px 40px;
}

#app>div {}

.side-left,
.side-right {
   width: 300px;
   position: relative;
   z-index: 1;
}

.side-left {
   padding-left: 2%;
}

.side-left>div {
   position: relative;
   height: 100%;
   border-left: 1px solid rgba(255, 255, 255, 0.15);
   text-align: center;
   padding-top: 32px;
}

.side-left h1 img {
   width: 200px;
   padding: 0 5%;
   background: #151314;
}

.side-left>div>img {
   position: absolute;
   right: 10px;
   top: 80px;
   height: calc(100% - 80px);
   opacity: 0.2;
}

.main {
   position: relative;
   flex-grow: 1;
   border-left: 1px solid rgba(255, 255, 255, 0.15);
   padding: 200px 0px 20px;
}


.mian-title {
   text-align: center;
   margin-bottom: 150px;
}

.mian-title>h2 {
   font-size: 50px;
   font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 500;
   color: #fff;
   margin-bottom: 20px;
}

.mian-title>p {
   font-size: 18px;
}

.mian-title>span {
   display: block;
   margin-bottom: 30px;
}

.mian-title>a {
   display: inline-block;
   color: #9c6cff;
   border: 1px solid #9c6cff;
   padding: 10px 50px;
   font-size: 16px;
}

.main-content {
   position: relative;
   z-index: 1;
   display: flex;
   justify-content: center;
}

.main-content>div {
   max-width: 500px;
   padding: 0 45px;
   font-size: 16px;
}

.main-content>div>strong {
   display: block;
   margin-bottom: 10px;
   font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 400;
   color: #fff;
   font-size: 20px;
   letter-spacing: 1px;
}


.main-content>div>p {
   margin-bottom: 15px;
}

.main-content>div>a {
   display: inline-block;
   padding: 10px 50px;
   border: 1px solid #fff;
   color: #fff;
}

.main-content>div>a  > i{
   margin-right: 10px;
}

.advantage-list {}

.advantage-list>li {
   line-height: 2;
}

.advantage-list>li>i {
   margin-right: 8px;
   color: #07b9c5;
}





.side-right {}

.side-right>a {
   position: absolute;
   right: 0;
   bottom: 0;
   width: 100%;
   padding: 30px 0;
   text-align: center;
   background: rgba(255, 255, 255, 0.1);
   border: 1px solid transparent;
   font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
   transition: 0.3s;
}

.side-right>a:hover {
   border-color: #fff;
   background: rgba(255, 255, 255, 0.2);
}






/* Media query
 ========================================================================== */

@media (max-width: 601px) {}